/* write your override styles here */
display:none;

.tag-1 {
    background: url(../images/tag-1.png) no-repeat;
    z-index: 7;
    display: block;
  }

  #wall .tag-1 {
    display: none;
  }
  
  #wall .tag-2 {
    display: none;
  }
  
  #wall .tag-3 {
    display: none;
  }
  
  #wall .tag-4 {
    display: none;
  }

  #wall .tag-5 {
    display: none;
  }
  
  #wall .tag-6 {
    display: none;
  }

  #wall .tag-7 {
    display: none;
  }